.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px){
        width: 90%;
        margin: 0 auto 20px;
        
    }

    .title {
        margin: 10px 0;
    }

    .button-container {
        display: flex;
        justify-content: space-between;

        & .custom-button {
            @media screen and (max-width: 800px){
                min-width: unset;
            } 
        }
    }

    
}